.main_title {
    font-size: 48px;
    font-family: var(--font-merienda);
    line-height: 72px;
}

.text-md {
    font-size: 18px;
    line-height: 24px;
    font-family: var(--font-noto-sans);
}

.text-lg {
    font-size: 24px;
    font-family: var(--font-noto-sans);
    font-weight: 700;
    margin-bottom: 16px;
}

.text-promo {
    font-size: 75px;
    color: white;
    font-family: var(--font-merienda);
}

.text-valor-promo {
    font-size: 30px;
    color: yellow;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}

.text-footer {
    margin-top: 20px;
    display: flex;
    gap: 200px;
    font-size: 20px;
    font-family: var(--font-noto-sans);
}

#Mussarela {
    font-size: 40px;
}