.card{
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-right-radius:  8px;
    border-top-left-radius: 8px;
    transition: 0.3s;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.card_verde_menta{
    background-color: #e0fcc2;
}
.card_rosal_pastel{
    background-color: #fce1ee;
}
.card_pessego{
    background-color: #fce5cd;
}
